{% extends 'layout.njk' %}

{% block bodyTag %}
  <body layout="with-sidebar">
{% endblock bodyTag %}

{% block sidebar %}
  <rocket-drawer id="sidebar">
    <nav slot="content" id="sidebar-nav">
      <rocket-navigation>
        {{ collections[section] | rocketNav | rocketNavToHtml({
        listItemClass: "menu-item",
        activeListItemClass: "current",
        activeKey: eleventyNavigation.key
    }) | safe }}
      </rocket-navigation>
    </nav>
  </rocket-drawer>
{% endblock sidebar %}

{% block main %}
  <main class="markdown-body">
    {{ content.html | safe }}
  </main>
{% endblock main %}
